.boxes {
  display: flex;
  width: 100%;
}

.progress{
  border: 1px solid #c7c7c7;
  border-right: none;
  position: relative;
}

.progress-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #7ecc00;
  opacity: .57;
  transform: scaleX(0);
  transform-origin: center left;
  transition: transform .4s ease-out;

}

.box {
  height: 40px;
  border-right: 1px solid #c7c7c7;
  flex: 1;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255,255, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all .33s ease-out;
  transform: scaleX(1.2);
}

body.overlay-is-open .overlay {
  opacity: 1;
  visibility: visible;
  transform: scaleX(1);
}

body.overlay-is-open .main-ui{
  filter: blur(4px);
}